body {
  background: #45B98A;
  overflow: hidden;
}
canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.count,
.message {
  pointer-events: none;
  position: absolute;
  bottom: 40px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}

.count {
  font-size: 25em;
  bottom: auto;
  top: 20%;
  color: rgba(255, 255, 255, 0.2);
}

.count::selection, .message::selection{ background: transparent; }